{% extends 'about/layout.html.twig' %}
{% block login %}
    <div class="speed-dial" id="js-login-button">
        <a href={{path ("app_about_world")}} class="toggle bg-warning-700" title="Le vieillissement dans le monde">
            <span class="fa fa-globe"></span>
        </a>
    </div>
{% endblock %}
{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Vieillissement en Afrique"
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig" %}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% embed "components/molecules/section.html.twig" with {
                        class: "my-5"
                    } %}
                        {% block content %}
                            <aside class="display-1 text-warning-700 text-center">
                                <i class="fa-solid fa-x display-5"></i>
                                <i class="fa-solid fa-3"></i>
                            </aside>
                            <article class="display-5 text-center my-5">
                                {% trans %}
                                <span>Le nombre de personnes âgées africaines devrait</span>
                                <span class="text-warning-700 display-1 font-bold">
                                    tripler</span>
                                <span>
                                    d’ici à 2050 !</span>
                                {% endtrans %}
                            </article>
                        {% endblock %}
                    {% endembed %}
                    {% embed "components/molecules/section.html.twig" %}
                        {% block content %}
                            <article class="fs-5 py-2 text-center">{% trans %}
                                <span>Projection d’évolution du nombre d’africains de 60 ans et plus:</span>
                                {% endtrans %}
                            </article>
                            <img src={{asset ('images/evolutionpersonnesagees.png')}} alt="Evolution du nombres de personnes âgées en Afrique" class="img-fluid col-12 col-md-8">
                        {% endblock %}

                    {% endembed %}

                    <div class="text-center">
                        <p class="display-5">
                            <i class="fa-solid fa-exclamation text-warning-700"></i>
                            {% trans %}
                            <span>Il y a un vrai enjeu de préparation de l’environnement, des infrastructures, des solutions et politiques de prise en charge de ces futurs nombreux seniors africains.</span>
                            {% endtrans %}
                        </p>
                    </div>

                    <div class="my-5 text-center border border-success">
                        <p class="fs-5 text-center py-2">{% trans %}
                            <span>Quelques chiffres en plus :</span>
                            {% endtrans %}
                        </p>
                        <img src={{asset ('images/vieillissement_afrique.png')}} alt="Evolution du nombres de personnes âgées en Afrique" class="img-fluid">
                    </div>
                    <p class="fs-4">La source utilisée dans cette rubrique est l’étude « Africa aging : 2020 » publiée par le département américain du commerce. Pour aller plus loin, vous pouvez consulter le document intégral en
                        <a href={{ asset('doc/aging.pdf') }} target="_blank">
                            <span>{% trans %}cliquant ici{% endtrans %}</span>
                        </a>
                        .</p>
                    <div class="col mt-3">
                        <img src={{asset('images/aging_bg_orange.jpeg')}} alt={% trans %} "Homme africain agé sur fond orange" {% endtrans %} class="img-fluid rounded-3">
                    </div>
                    <div class="col">
                        <div class="">
                            <img src={{asset('images/aging_hat.jpeg')}} alt={% trans %} "Homme africain agé avec un chapeau" {% endtrans %} class="img-fluid rounded-3">
                        </div>
                        <div class="">
                            <img src={{asset('images/aging_care.jpeg')}} alt={% trans %} "Homme africain âgé pris en charge par une infirmière" {% endtrans %} class="img-fluid rounded-3">
                        </div>
                        <div class="">
                            <img src={{asset('images/village.jpeg')}} alt={% trans %} "Homme africain âgé pris en charge par une infirmière" {% endtrans %} class="img-fluid rounded-3">
                        </div>
                    </div>
                    <div class="col">
                        <img src={{asset('images/old_black_woman.jpeg')}} alt={% trans %} "Homme africain âgé pris en charge par une infirmière" {% endtrans %} class="img-fluid rounded-3">
                    </div>

                    <div class="text-end py-3">
                        <a href={{ path("app_about_world") }}>{% trans %}Pour en savoir plus sur le vieillissement dans le monde cliquez ici{% endtrans %}</a>
                    </div>
                {% endblock %}
                {# end section #}
            {% endembed %}

        {% endblock %}
        {# end full page #}
    {% endembed  %}
    {# end body #}
{% endblock %}
