{% extends 'about/layout.html.twig' %}
{% set pageName = "Qui sommes-nous ?" %}
{% block title %}
    {{pageName}}
{% endblock %}

{% block body %}

    {% embed "components/organisms/fullPage.html.twig" %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {# Section meme #}
            {% embed "components/molecules/section.html.twig" %}

                {% block content %}
                    <article class="text-font-script fs-1 fw-bold text-center mb-2 col-lg-10 row align-items-center">
                        <span>{% trans %}Elle s'appelait Philo ... C'était ma Mémé.{% endtrans %}
                        </span>
                    </article>
                        {# secton mémé #}
                        {% embed "components/molecules/historyContent.html.twig" with {
                    img: "philo.jpg",
                    alt: "Mémé Phlomène",
                    title: "Notre Histoire"
                } %}
                            {% block content %}
                                <div class="text-justify fs-4">
                                    <p>
                                        {% trans %}Ses dernières années sur cette terre m’ont fait prendre conscience du besoin de développer les solutions facilitant la prise en charge de nos parents âgés en Afrique.{% endtrans %}
                                    </p>
                                    <p>
                                        {% trans %}En effet chaque étape de la perte d’autonomie de Mémé a été compliquée : Où acheter les protections adultes, le fauteuil roulant ? Où trouver un hôpital avec un centre spécialisé en gériatrie ?{% endtrans %}
                                    </p>
                                    <p>
                                        {% trans %}…. A chaque fois l’information a été difficile et longue à trouver.{% endtrans %}
                                    </p>
                                    <p>
                                        {% trans %}Cette expérience m’a permis de faire les constats suivants :{% endtrans %}
                                    </p>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {# end section mémé #}
                {% endblock %}
            {% endembed %}

            <div class="container-fluid d-flex flex-column align-items-center">
                <div class="text-start col-lg-9 fs-3 my-5 shadow container-fluid p-3 bg-green text-light rounded rounded-5">
                    <div>
                        <span class="badge bg-success float-start me-2">
                            <i class="fa-solid fa-hand-holding-heart"></i>
                        </span>
                        <p class="text-justify">
                            {% trans %}Il reste beaucoup à faire en ce qui concerne une prise en charge professionnelle des personnes âgées en Afrique subsaharienne. Cependant, il existe des services et alternatives développés localement.{% endtrans %}
                        </p>
                    </div>
                    <div>
                        <span class="badge bg-success float-start me-2">
                            <i class="fa-solid fa-hand-holding-heart"></i>
                        </span>
                        <p class="text-justify">
                            {% trans %}Les solutions déjà existantes sont peu connues et l’information sur ce sujet est difficilement accessible.{% endtrans %}
                        </p>
                    </div>
                </div>
                <p class="text-success-800 fw-bold mt-2 fs-2">{% trans %}A l’ère d’internet, l’accès à l’information aurait dû être plus facile.{% endtrans %}
                </p>
                {% include "components/atoms/linkPage.html.twig" with {
                    path: "app_about_africa",
                    content: "Pour en savoir plus sur le vieillissement en Afrique, cliquez-ici!"
                } %}
            </div>
            {# section objectif #}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% embed "components/molecules/historyContent.html.twig" with {
                        img: "vision.jpg",
                        alt: "Une personne heureuse qui lève le poing",
                        title: "Notre Objectif"
                        } %}
                        {% block content %}
                            <p class="fs-3 text-justify">{% trans %}Faire de la plateforme
                                <span class="text-success-800 fst-italic fw-bold text-nowrap">
                                    Maison Philo{% endtrans %}
                                </span>
                                {% trans %}un espace collaboratif incontournable qui reporte toute information ou proposition de services pouvant aider à améliorer la vie d'un Papy ou d'une Mamie en Afrique subsaharienne francophone.{% endtrans %}
                            </p>
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
            {# end section objectif #}

            <h2 class="fs-1 text-success-800 py-5 text-center fw-bold">Notre vision</h2>


            {% embed "components/molecules/historyContent.html.twig" with {
                img: "Bien_vieillir_en_Afrique.png",
                alt: "carte d'Afrique",
            } %}
                {% block content %}
                    <div class="text-center">
                        <p class="fs-1 fw-bold">
                            <span class="text-success-800 d-block">{% trans %}Contribuer au{% endtrans %}</span>
                            <span class="text-primary d-block">{% trans %}Bien Vieillir{% endtrans %}</span>
                            <span class="text-success-800 d-block">{% trans %}en{% endtrans %}</span>
                            <span class="text-warning d-block">{% trans %}Afrique{% endtrans %}</span>
                        </p>
                    </div>
                {% endblock %}
            {% endembed %}


            {% include "components/atoms/linkPage.html.twig" with {
                    path: "app_about_africa",
                    content: "Pour en savoir plus sur le vieillissement en Afrique, cliquez-ici!"
                } %}

        {% endblock %}
    {% endembed %}
{% endblock %}
