{% extends 'about/layout.html.twig' %}
{% set pageName = "Objectif & vision" %}
{% block title %}
    {{pageName}}
{% endblock %}

{% block body %}

    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}


            {# section objectve #}
          
{% endblock %}
