{% extends 'base.html.twig' %}
{% block footer %}{% endblock %}
{% block login %}{% endblock %}
{% block header %}{% endblock %}
{% block navigation %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('security') }}
{% endblock %}
