{% extends 'home/layout.html.twig' %}
{% set pageName = "Page d'accueil" %}
{% block share %}{% endblock %}
{% block body %}
{% include "components/organisms/homeNavbar.html.twig" %}
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <section id="top-page" class="d-flex justify-content-between align-items-center flex-column" style="min-height:100vh">
        {# top-page #}
        {# Bienvenue #}
            <div class="d-md-block d-none"> <span class="display-5 fw-bold text-light text-center title" {{ stimulus_controller('symfony/ux-typed', { strings: ['<span class="">Bienvenue chez</span> <span class="text-success-800 sub-title"> Maison Philo</span><span class="text-success-800 sub-title"> </span>'], typeSpeed: 40, loop: true, loopCount: 10, backSpeed: 50, backDelay: 5000, cursorChar:' <i class="fa-solid fa-heart fs-1 text-light"></i>', showCursor:true} )}}></span>
        </div>
        <div class="d-md-none d-block">
            <span class="display-5 fw-bold text-light text-center title" {{ stimulus_controller('symfony/ux-typed', { strings: ['<span class="">Bienvenue chez</span> </br> <span class="text-success-800 sub-title text- d-block"> Maison Philo</span>'], typeSpeed: 40, loop: true, loopCount: 10, backSpeed: 50, backDelay: 5000, cursorChar:' <i class="fa-solid fa-heart fs-1 text-light"></i>', showCursor:true} )}}></span>
        </div>
        <div class="fs-4 mt-3 fw-bold sub-title text-center">
            <mark class="opacity-85">
                {% trans %}Votre plateforme de partage d'informations et d'aide dédiée
                <br>
                <strong>au bien-être des personnes âgées en Afrique subsaharienne francophone</strong>
                {% endtrans %}
            </mark>
        </div>
        <div class="btn btn-warning rounded rounded-pill my-5 p-4 text-light fw-bold d-lg-block d-none pe-none">
            <div class="text-start">
                {% for information in informations %}
                    <div class="mb-1">
                        <i class="fa-solid fa-hand-holding-heart text-dark"></i>
                        <span>
                            {{information.content | trans}}
                        </span>
                        <a href={{path (information.path)}} class="pe-auto">cliquer ici!</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid d-none d-md-block py-5">
            <div class="row ">
                {% for servicePlatform in servicePlatforms %}
                    <div class="col">
                        <a href={{path (servicePlatform.path)}} class="d-block btn btn-light opacity-75 p-3 text-primary fw-bold rounded-pill h-100 d-flex align-items-center justify-content-center">{{servicePlatform}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex d-lg-none mt-5">
            {% for smartInformation in smartInformations %}
                <div class="text-center px-2">
                    <a href={{ path(smartInformation.path) }} class="btn btn-lg btn-warning rounded rounded-circle p-3 shadow">
                        <i class="fa-solid fa-{{smartInformation.font}} rounded rounded-circle"></i>
                    </a>
                    <p class="text-title">{{smartInformation.content}}</p>
                </div>
            {% endfor %}
        </div>
        {# Seniors à l honneur  #}
        <div class="py-3">
            <a type="button" href="{{path('app_contact_senior')}}" class="btn btn-blue btn-circle text-light fs-6 btn-xl">Nos seniors à l'honneur
            </a>
        </div>

        {# Global Search / Bouton de recherche #}
        <div class="row col-lg-6 col-md-7 col-sm-9 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>
    {# services #}
    <div class="bg-grey">
        {% embed "components/molecules/sectionHome.html.twig" with {
            id: "services",
        } %}
            {% block content %}

                <div class="row justify-content-center">
                    {% include "components/atoms/homeTitle.html.twig" with {
                    content : "Services"
                } %}

                    {% include "components/atoms/fontCircle.html.twig" with {
                    title : "Partage d'informations",
                    content : "Vous cherchez une information pouvant aider au <h2 class='fs-2'> bien-être de nos aînés?</h2>
                    <span class='fs-2'>Vous disposez d'information pas encore publiée sur ce site ?
                    Bienvenue sur cet espace collaboratif !</span>
                    ",
                    font :  "fa-solid fa-share-nodes",      
                    href : "app_assistance_share",
                    img : "information_seniors_Afrique.jpg",
                    alt: "un groupe de jeunes gens qui travaillent ensemble"
                 } %}

                    {% include "components/atoms/fontCircle.html.twig" with {
                    title : "Actions sociales",
                    content : "Venez retrouver nos ONG partenaires ainsi que les <h2 class='fs-2 '>actions sociales dédiées à nos parents âgés</h2> <span class='fs-2 '>que nous soutenons.</span>",
                    font : "fa-solid fa-hand-holding-heart",
                    href : "app_assistance_social",
                    img : "actions_sociales_Afrique.jpg",
                    alt: "un homme souriant qui pose devant des dons à distribuer dans le cadre d'une action sociale"
                } %}

                </div>
            {% endblock %}
        {% endembed %}
    </div>
    {# vision #}
    {% embed "components/molecules/sectionHome.html.twig" with {
        id: "vision",
    } %}
        {% block content %}
            <div class="justify-content-center container-fluid">
                <div class="mb-5">
                    <p style="min-height:20vh" class="text-dark display-3 text-center fw-bold mb-5 text-font-1" {{ stimulus_controller('symfony/ux-typed', { strings: ["<span class=\"text-success-800 d-block\">Contribuer au</span><h3 class=\"text-primary-800 display-3 d-block\">Bien vieillir</h3><span class=\"\">en </span><span class=\"text-warning-300\">Afrique</span>"], loop:true, showCursor:false} )}}></p>

                    <div class="fs-1 p-2 text-center my-5">
                        <span class="text-black">
                            <em class="text-success-800 fw-bold fst-normal d-block display-4">{% trans %}Maison Philo{% endtrans %}</em>
                            {% trans %}est une entreprise à vocation sociale dédiée au partage d'informations  et de services aux personnes âgées en Afrique subsaharienne francophone{% endtrans %}</span>
                    </div>
                </div>
                <div class="text-center">
                    <img src={{asset("images/Bien_vieillir_en_Afrique.png" | imagine_filter("full"))}} class="img-fluid mb-5" alt={% trans %} "Le globe terrestre centré sur l'Afrique" {% endtrans %} data-aos="fade-down" data-aos-duration="1000">
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {# Section about #}
    {% embed "components/molecules/sectionHome.html.twig" with {
        id: "about",
        class: "bg-grey"
    } %}
        {% block content %}
            {% include "components/atoms/homeTitle.html.twig" with {
            content : "A Propos"
        } %}
            <span class="fs-3  container">
                <figure>
                    <blockquote class="blockquote">
                        <p>{% trans %}« Rêvez grand, commencez petit, agissez maintenant. »{% endtrans %}</p>
                    </blockquote>
                    <p>Auteur Robin Sharma</p>
                </figure>
            </span>
            {% embed "components/molecules/aboutDescription.html.twig" with {
                title : "Qui sommes nous?",
                content : "Elle s’appelait Philo… C’était ma Mémé.",
                href : "app_about_history",
            } %}
                {% block content %}
                    {% embed "components/atoms/fontCircle.html.twig" with {
                        img : "philo.jpg",
                        content : "Mémé Philomène",
                        alt: "une femme âgée africaine"
                    } %}
                        {% block title %}{% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
            {% embed "components/molecules/aboutDescription.html.twig" with {
                title : "Vieillissement dans le monde",
                content : "Partout dans le monde, la tendance est à une espérance de vie plus longue grâce à l’effet combiné de l’amélioration des conditions de vie et des avancées en matière de santé.",
                href : "app_about_world",
            } %}
                {% block content %}
                    {% embed "components/atoms/fontCircle.html.twig" with {
                        img : "Vieillissement_Monde.jpg",
                        alt : "la carte du monde accompagnée d'un tableau de chiffres concernant le vieillissement dans le monde"
                    } %}
                        {% block title %}{% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
            {% embed "components/molecules/aboutDescription.html.twig" with {
                title : "Vieillissement en Afrique",
                content : "Souvent présenté comme un continent jeune, l’Afrique n’échappe pas à l’augmentation du nombre de personnes âgées suivant ainsi une tendance mondiale.",
                href : "app_about_africa",
             } %}
                {% block content %}
                    {% embed "components/atoms/fontCircle.html.twig" with {
                        img : "Vieillissement_Afrique.png",
                        alt : "la carte de l'Afrique accompagnée d'un tableau de chiffres concernant le vieillissement dans le monde"
                    } %}
                        {% block title %}{% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
            <div id="contact" class="my-5"></div>
            {% embed "components/molecules/aboutDescription.html.twig" with {
                title : "Contactez-nous",
                content : "",
                href : "app_contact_index",
            } %}
                {% block content %}
                    {% embed "components/atoms/fontCircle.html.twig" with {
                        img : "logo_1.png",
                        alt : "logo Maison Philo"
                    } %}
                        {% block title %}{% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
    <section id="commit" class="row container-fluid mx-auto py-5 bg-green">
        <div class="col-12 text-center mb-5">
            {% include "components/atoms/homeTitle.html.twig" with {
                content : "Nos engagements"
            } %}
            <p class=" fs-1">{% trans %}Pour le développement durable{% endtrans %}</p>
        </div>
        {% include "components/atoms/btnSquare.html.twig" with {
            png: "sante.png",
            alt: "le symbole de l'engagement pour le développement durable numéro 3 \"Bonne santé et bien être\"",
            content: "L'objectif fixé par les Nations Unies dans le cadre de cet engagement est de permettre à tous de vivre en bonne santé et promouvoir le bien-être de tous à tout âge.",
            hide: "Nous l'avons retenu car le vieillissement s'accompagne souvent d'une augmentation du risque d'apparition de problèmes de santé. Un des défis liés au vieillissement en Afrique est de faire évoluer les systèmes de sante afin d' améliorer l’accès de la population à la santé et aux soins de santé. Nous voulons y contribuer à travers le partage d'informations.",
            index: 1,
            asset: "sante"
        } %}
        {% include "components/atoms/btnSquare.html.twig" with {
            png: "travail.png",
            alt: "le symbole de l'engagement pour le développement durable numéro 8 \"Travail décent et croissance économique\"",
            content: "Promouvoir une croissance économique soutenue, partagée et durable, le plein emploi productif et un travail décent pour tous. ",
            hide: "L'objectif fixé par les Nations Unies dans le cadre de cet engagement est de promouvoir une croissance économique soutenue, partagée et durable, le plein emploi productif et un travail décent pour tous. Aujourd'hui, la prise en charge des seniors africains se fait beaucoup de manière informelle. Ainsi, ce sont souvent les \"petites bonnes\" qui sont chargées de s'occuper des grands parents âgés en perte d'autonomie alors qu'elles n'ont généralement aucune formation préalable pour cela.Notre volonté est de contribuer à la valorisation du travail des personnes qui prennent soin de nos parents âgées. Nous pensons que, le fait de favoriser leur formation contribuera non seulement à améliorer le bien être de la personne âgée mais permettra également l'amélioration des conditions de vie du personnel formé grâce à une progression des perspectives professionnelles. Nous croyons que le domaine de la prise en charge des personnes âgées présente un gros potentiel de création d'emplois. Si les bonnes mesures sont anticipées pour permettre que ces emplois soient durables et décent, une \"silver economie à l' africaine\" peut contribuer à la croissance économique des états africains.",
            index: 2,
            asset: "travail"
        } %}
        {% include "components/atoms/btnSquare.html.twig" with {
            png: "ville.png",
            alt: "le symbole de l'engagement pour le développement durable numéro 11 \"Villes et communautés durables\"",
            content: "L'objectif fixé par les Nations Unies dans le cadre de cet engagement est de faire en sorte que les villes et les établissements humains soient ouverts à tous, résilients et durables.",
            hide: "Aujourd'hui, la majorité des personnes âgées africaines vivent en zone rurale. Cependant, comme pour les autres tranches d'âge, la tendance est aussi à l'urbanisation des seniors africains. Nos villes et communautés sont elles prêtes, adaptées aux personnes âgées dont le nombre est appelé à croître ? Les transports, les infrastructures, les accès aux bâtiments ... prennent ils en compte cette évolution. Notre volonté est de participer à la prise de conscience qu'il est nécessaire d'intégrer dans les choix d'urbanisation le fait que la population âgée est appelée à augmenter dans les villes africaines.",
            index: 3,
            asset: "ville"
        } %}
</section>
{# Section contact #}
</div>
{% endblock %}
