{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('home')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
