{% extends 'get_started/layout.html.twig' %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Comment ça marche?"
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% include 'components/atoms/btnOutlineShare.html.twig' with {
                        content: "Vous cherchez une information pouvant aider au bien-être de nos aînés dans les pays que nous couvrons?",
                        path: "app_get_started"
                    } %}
                    {% embed "components/molecules/article.html.twig" %}
                        {% block content %}

                            {% embed "components/atoms/p.html.twig" with{
                                content: "Commencer à saisir l’objet de votre recherche dans la barre de recherche et sélectionner une des propositions qui apparait dans la liste déroulante."
                            } %}
                                {% block content %}
                                    <div>
                                        <i class="fas fa-1 text-warning-700"></i>
                                        <span class="text-warning-700">
                                            .
                                        </span>
                                    </div>
                                {% endblock %}
                            {% endembed %}


                            {% embed "components/atoms/p.html.twig" with{
                                content: "Cliquer sur le bouton Partage d’information"
                            } %}
                                {% block content %}
                                    <div>
                                        <i class="fas fa-2 text-warning-700"></i>
                                        <span class="text-warning-700">
                                            .
                                        </span>
                                    </div>
                                {% endblock %}
                            {% endembed %}

                            <aside class="text-center" class="text-center"><img src={{asset ('images/started/image1.png') | imagine_filter("fullSquare")}} class=" pb-3 img-fluid" alt="Démonstraton"></aside>

                            {% include "components/atoms/p.html.twig" with {
                                content: "Sur la page Partage d’information, vous pouvez  soit naviguer par thématique en cliquant sur une des rubriques listées."
                            } %}
                            <aside class="text-center"><img src={{ asset('images/started/image2.png') | imagine_filter('fullSquare') }} alt="Démonstration partage d'information" class="img-fluid"></aside>

                            {% include "components/atoms/ou.html.twig" %}

                            {% include "components/atoms/p.html.twig" with {
                                content: "en allant plus bas sur la page, vous pouvez sélectionner un pays. La liste s’étoffera au fur et à mesure du déploiement géographique de Maison Philo."
                            } %}

                            <aside class="text-center"><img src={{ asset('images/started/image3.png') | imagine_filter('fullSquare') }} alt="Démonstration sélection par pays" class="img-fluid"></aside>

                            {% include "components/atoms/p.html.twig" with {
                                content: "Si vous cliquez sur une des rubriques listées, vous arrivez sur une page similaire à celle-ci-dessous:"
                            } %}

                            <aside class="text-center"><img src={{ asset('images/started/image4.png') | imagine_filter('fullSquare') }} alt="Démonstration sélection par pays" class="img-fluid"></aside>

                            {% include "components/atoms/p.html.twig" with {
                                content: "Cliquez sur le pays pour déployer la liste"
                            } %}

                            <aside class="text-center">
                                {% include "components/atoms/arrowDown.html.twig" %}
                                <img src={{ asset('images/started/image5.png') | imagine_filter('fullSquare') }} alt="Démonstration sélection par pays" class="img-fluid"></aside>

                            {% include "components/atoms/p.html.twig" with {
                                content: "Si en arrivant sur la page Partage d’information, vous cliquez sur le pays, vous arriverez sur une page similaire à celle-ci-dessous:"
                            } %}

                            <aside class="text-center"><img src={{ asset('images/started/image6.png') | imagine_filter('fullSquare') }} alt="Démonstration sélection par pays" class="img-fluid"></aside>

                            {% include "components/atoms/p.html.twig" with {
                                content: "Cliquez sur le thème qui vous intéresse pour déployer la liste"
                            } %}
                            <aside class="text-center">
                                {% include "components/atoms/arrowDown.html.twig" %}
                                <img src={{ asset('images/started/image7.png') | imagine_filter('fullSquare') }} alt="Démonstration sélection par pays" class="img-fluid">
                            </aside>
                        {% endblock %}

                    {% endembed %}

                    {% include 'components/atoms/btnOutlineShare.html.twig' with {
                        content: "Vous avez une information à partager! "
                    } %}
                    {% embed "components/molecules/article.html.twig" %}
                        {% block content %}
                            {% include "components/atoms/p.html.twig" with {
                            content: "Vous pouvez le faire via la page principale d’accueil en cliquant sur le bouton"
                         } %}
                            <aside class="text-center">
                                {% include "components/atoms/arrowDown.html.twig" %}<img src={{asset ('images/started/image8.png') | imagine_filter ('thumb')}} alt="Contactez-nous">
                            </aside>

                            <div class="text-center fs-2 text-warning-700 py-4">
                                <i class="fa-solid fa-o"></i>
                                <i class="fa-solid fa-u"></i>
                            </div>
                            {% include "components/atoms/p.html.twig" with {
                                content: "sur les pages Partage d’information ou  Actions sociales, cliquez sur le bouton"
                            } %}
                            <aside class="text-center">
                                {% include "components/atoms/arrowDown.html.twig" %}<img src={{asset ('images/started/image9.png') | imagine_filter ('thumb')}} alt="Contactez-nous">
                            </aside>

                            <aside class="text-center py-3">
                                <img src={{ asset('images/started/image10.png') | imagine_filter('fullSquare') }} alt="Démonstration sélection par pays" class="img-fluid">
                            </aside>

                            {% include "components/atoms/p.html.twig" with {
                                content: "En cliquant sur les boutons, vous accédez à la page suivante:"
                            } %}

                            <aside class="text-center">
                                {% include "components/atoms/arrowDown.html.twig" %}
                                <img src={{ asset('images/started/image11.png') | imagine_filter('fullSquare') }} alt="Démonstration sélection par pays" class="img-fluid">
                            </aside>
                        {% endblock %}
                    {% endembed %}


                    {% include 'components/atoms/btnOutlineShare.html.twig' with {
                        content: "Vous voulez découvrir les associations ou structures partenaires à l’honneur?"
                    } %}


                    {% embed "components/molecules/article.html.twig" %}
                        
                    {% endembed %}


                    {% include 'components/atoms/btnOutlineShare.html.twig' with {
                        content: "Pour en savoir plus sur Maison Philo!"
                    } %}
                           
                    {% embed "components/molecules/article.html.twig" %}
                        
                    {% endembed %}


                    {% include 'components/atoms/btnOutlineShare.html.twig' with {
                        content: "Vous recherchez des chiffres sur le vieillissement dans le monde ou en Afrique?"
                    } %}
                           
                    {% embed "components/molecules/article.html.twig" %}
                        
                    {% endembed %}


                    {% include 'components/atoms/btnOutlineShare.html.twig' with {
                        content: "Vous voulez découvrir nos engagements en matière de développement durable?"
                    } %}
                           
                    {% embed "components/molecules/article.html.twig" %}
                        
                    {% endembed %}


                {% endblock %}
            {% endembed %}
        {% endblock %}

    {% endembed %}

{% endblock %}
