{% extends "base.html.twig" %}

{% block login %}
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('getStarted')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('getStarted') }}
{% endblock %}