{% extends 'security/layout.html.twig' %}

{% block title %}Register
{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="p-3">
        {% include "components/molecules/breadcrumb.html.twig" %}
    </div>
    {# Formulaire d'inscription #}
    {% embed "components/molecules/securityForm.html.twig" with {
        text: "Inscrivez-vous afin d'accéder à toutes nos offres",
        img: "vision.jpg"
    } %}
        {% block content %}

            <section class="d-flex flex-column justify-content-evenly" style="min-height:60vh">
                {{ form_start(registrationForm,{
                    'attr': {'novalidate': 'novalidate', 'data-turbo' : 'false'} 
                }) }}

                {{ form_end(registrationForm) }}

                <a href={{path ("app_general_terms")}} class="btn btn-primary">{% trans %}Consulter nos conditions générales{% endtrans %}</a>

                <span>{% trans %}Déjà membre?{% endtrans %}
                    <a href={{path("app_login")}}>Connectez-vous en cliquant ici!</a>
                </span>
            </section>

        {% endblock %}
    {% endembed  %}
{% endblock %}
