{% extends 'user_space/layout.html.twig' %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Espace utilisateur"
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig" %}
        {% endblock %}
        {% block content %}
            <section class="">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col col-lg-9 mb-4 mb-lg-0">
                            <div class="card p-3 bg-grey shadow">
                                <turbo-frame id="the_frame_id">
                                    <div class="row g-0">
                                        <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                            <img src={{asset ('images/logo_1.png') | imagine_filter('logo') }} alt="Avatar" class="img-fluid my-5 rounded rounded-circle"/>
                                            <div class="text-success-800">
                                                <h5>{{user.lastName | default ('')}}
                                                    {{user.firstName | default ('')}}</h5>
                                                <p>{{user.nickName | default ('')}}</p>
                                            </div>
                                            <a href={{ path('app_user_edit') }} class="d-block">
                                                <i class="far fa-edit"></i>
                                                <span>{% trans %}Modifer son profile{% endtrans %}</span>
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body p-4">
                                                <h6>Information</h6>
                                                <hr class="mt-0 mb-4">
                                                <div class="row pt-1">
                                                    <div class="col-6 mb-3">
                                                        <h6>
                                                            <i class="fa-solid fa-envelope-open-text"></i>
                                                        </h6>
                                                        <p class="text-muted">{{user.email}}</p>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>
                                                            <i class="fa-solid fa-phone-volume"></i>
                                                        </h6>
                                                        <p class="text-muted">{{user.phoneNumber | default('+225 01 02 03 04')}}</p>
                                                    </div>
                                                </div>
                                                <hr class="mt-0 mb-4">
                                                <div class="row pt-1">
                                                    <div class="col-6 mb-3">
                                                        <h6>Pays</h6>
                                                        <p class="text-muted">{{user.country | default('🌍')}}</p>
                                                    </div>


                                                    <form class="col-6 mb-3 my-auto" method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                        <button class="btn text-danger">
                                                            <h6>
                                                                <i class="fa-solid fa-trash-can"></i>
                                                                {% trans %}Supprimer mon compte{% endtrans %}
                                                            </h6>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="d-flex justify-content-start">
                                                    <a href="#!">
                                                        <i class="fab fa-facebook-f fa-lg me-3"></i>
                                                    </a>
                                                    <a href="#!">
                                                        <i class="fab fa-twitter fa-lg me-3"></i>
                                                    </a>
                                                    <a href="#!">
                                                        <i class="fab fa-instagram fa-lg"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </turbo-frame>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    {% endembed %}

{% endblock %}
