{% extends 'base.html.twig' %}

{# {% block header %}
    {% include "components/atoms/floatButton.html.twig" %}
{% endblock %} #}
{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('user-space')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-space') }}
{% endblock %}