{% extends 'base.html.twig' %}

{% set pageName = "Envoie du mail de récupération de mot de passe" %}

{% block title %}
    {{pageName | trans}}
{% endblock %}

{% block body %}

    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}
            <section class="container-fluid">
                <p>
                    {% trans %}
                    Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                    Ce lien expirera dans
                    {% endtrans %}
                    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>
                    {% trans %}Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courrier indésirable (spam) ou votre adresse e-mail.{% endtrans %}
                    <a href="{{ path('app_forgot_password_request') }}">{% trans %}Essayez encore{% endtrans %}</a>.
                </p>
            </section>
        {% endblock %}
    {% endembed %}


{% endblock %}
