<p>{% trans %}Bonjour{% endtrans %}!</p>

<p>{% trans %}Pour réinitialiser votre mot de passe, veuillez consulter le lien suivant{% endtrans %}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{% trans %}Ce lien expirera dans{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{% trans %}Bien à vous! {% endtrans %}</p>