{% extends 'base.html.twig' %}
{% set pageName = "Réinitialisation du mot de passe" %}
{% block title %}
    {{pageName | trans}}
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}
            <section class="container-fluid text-center">
                {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                        {% trans %}
                        <span>
                            Saisissez votre adresse électronique et nous vous enverrons un
                            lien pour réinitialiser votre mot de passe.
                        </span>
                        {% endtrans %}
                    </small>
                </div>
                {{ form_end(requestForm) }}
            </section>
        {% endblock %}
    {% endembed %}
{% endblock %}
