{% extends 'base.html.twig' %}
{% set pageName = "Réinitialisation du mot de passe" %}
{% block title %}
    {{ pageName | trans}}
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">{% trans %}Réinitialisation du mot de passe{% endtrans %}</button>
            {{ form_end(resetForm) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
