{% extends 'country/layout.html.twig' %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: country
    }  %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            <div class="text-center">
                {% for servicePlatform in servicePlatforms %}
                    {% include "components/atoms/btnOutlineShare.html.twig" with {
                        content: servicePlatform,
                        collapse: servicePlatform.path
                    } %}
                    {# Hospital #}
                    {% if servicePlatform.name == hospitals.0.servicePlatform.name %}
                        <div>
                            {% for hospital in hospitals %}
                                {% include "components/molecules/hospitalDescription.html.twig" with {
                                name: hospital.name,
                                subTitle: hospital.subTitle,
                                description: hospital.description,
                                phoneNumber: hospital.phoneNumber,
                                email: hospital.email,
                                id: servicePlatform.path
                            } %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {# Annuaires associations #}
                    {% if servicePlatform.name == partners.0.servicePlatform.name %}
                        <div>
                            {% for partner in partners %}
                                {% include "components/molecules/partnerDescription.html.twig" with {
                                name: partner.name,
                                image: partner.imageName,
                                description: partner.description,
                                activity: partner.activity,
                                type: partner.type,
                                phoneNumber: partner.phoneNumber,
                                email: partner.email,
                                contact: partner.contact,
                                id: servicePlatform.path,
                                class: "hide"
                            } %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {# commerces dédiés #}
                    {% if servicePlatform.name == commerces.0.servicePlatform.name %}
                        <div>
                            {% for commerce in commerces %}
                                {% include "components/molecules/commercesDescription.html.twig" with {  
                                name: commerce.name,
                                id: servicePlatform.path,
                                class: "hide"
                              } %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {# Dispositifs étatiques #}
                    {% if servicePlatform.name == stateDevices.0.servicePlatform.name %}
                        <div>
                            {% for stateDevice in stateDevices %}
                                {% include "components/molecules/stateDeviceDescription.html.twig" with {
                                    name: stateDevice.name,
                                    description: stateDevice.description,
                                    links: stateDevice.links,
                                    id: servicePlatform.path,
                                    class: "hide"        
                                } %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {# Site internet #}
                    {% if servicePlatform.name == siteInternets.0.servicePlatform.name %}
                    <div>
                        {% for siteInternet in siteInternets %}
                            {% include "components/molecules/siteInternetDescription.html.twig" with {
                                id: servicePlatform.path,
                                class: "hide"        
                            } %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
