{# <div class="speed-dial" id="js-login-button" data-toggle="tooltip" data-placement="left" title="Tooltip on top">
    <span class="bg-warning-700 text-light p-2 rounded-5">{% trans %}Partagez vos informations{% endtrans %}</span>
    <a href={{path ("app_contact_index")}} class="toggle bg-warning-700">
        <span class="fa-solid fa-handshake"></span>
    </a>
</div>
 #}
{#  <div class="d-flex align-items-center" id="js-login-button" data-toggle="tooltip" data-placement="left" title="Tooltip on top">
    <a href={{path ("app_contact_index")}} class="btn-circle-philo bg-warning-700 label text-decoration-none">
        <span class="text-light">Partagez vos informations</span>
    </a>
</div>
 #}
 <div id="js-login-button" class="hover-1 bg-warning-700 circle d-flex align-items-center shadow-lg">
 <a href={{path ('app_contact_index')}} class="text-decoration-none text-dark fw-bold">{% trans %}Partagez vos infos{% endtrans %}</a> </div>