<div class="speed-dial" id="js-login-button">
    <a class="toggle bg-warning-700">
        <span class="fa fa-bars"></span>
    </a>
    <ul class="dials">
        <li>
            <a class="bg-warning-700" href={{path ('app_contact_index')}} data-toggle="tooltip" data-placement="left" title="Partage d'informations">
                <span class="fa-brands fa-slideshare"></span>
            </a>
        </li>
        <p class="label">Partage</p>
        {% if app.user is null %}
            <li>
                <a class="bg-warning-700" href={{path ('app_register')}} data-toggle="tooltip" data-placement="left" title="Inscription">
                    <span class="fas fa-edit"></span>
                </a>
            </li>
        <p class="label">Inscription</p>
            <li>
                <a class="bg-warning-700" href={{path ('app_login')}} data-toggle="tooltip" data-placement="left" title="Se connecter">
                    <span class="fa fa-circle-user"></span>
                </a>
            </li>
        <p class="label">Connexion</p>
        {% else %}
            {% if app.user.roles.0 == "ROLE_ADMIN" %}
                <li>
                    <a class="bg-success" href={{path ('admin')}} data-toggle="tooltip" data-placement="left" title="Espace Admin">
                        <span class="fa-solid fa-screwdriver-wrench"></span>
                    </a>
                </li>
                <p class="label">Admin</p>

            {% endif %}
            <li>
                <a class="bg-primary" href={{path ('app_user_space')}} data-toggle="tooltip" data-placement="left" title="Espace utilisateur">
                    <span class="fa-solid fa-users-rectangle"></span>
                </a>
                {% if app.user.roles.0 == "ROLE_USER" %}{% endif %}
            </li>
            <p class="label">Profil</p>

            <li>
                <a class="bg-danger" href={{path ('app_logout')}} data-toggle="tooltip"  data-turbo="false" data-placement="left" title="Déconnexion">
                    <span class="fa-solid fa-right-from-bracket"></span>
                </a>
                {% if app.user.roles.0 == "ROLE_USER" %}{% endif %}
            </li>
            <p class="label">Déconnexion</p>
        {% endif %}

    </ul>
</div>
