{% extends "assistance/layout.html.twig" %}
{% block title %}
    Hôpitaux publics à Abidjan - Côte d'Ivoire
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Hôpitaux publics à Abidjan - Côte d'Ivoire"
    }  %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}

                    <div class="table-responsive">
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <table class="table-success table table-striped table-hover">
                            <thead>
                                <tr class="table-dark fw-bold">
                                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Quartier', 'q.name') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(pagination, 'Nom', 'h.name') }}</th>
                                    <th scope="col">Téléphone (+225)</th>
                                    <th scope="col">Informations</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for hospitalAbidjans in pagination %}
                                    <tr>
                                        <th scope="row">
                                            <h2 class="fs-5">{{hospitalAbidjans.quartier}}</h2>
                                        </th>
                                        <td>
                                            <h2 class="fs-5">{{hospitalAbidjans.name}}</h2>
                                        </td>
                                        <td>{{hospitalAbidjans.phoneNumber}}</td>
                                        <td>{{hospitalAbidjans.information}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
