{% extends "assistance/layout.html.twig" %}
{% block title %}
    Cliniques privées à Abidjan - Côte d'Ivoire
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Cliniques privées à Abidjan - Côte d'Ivoire"
    }  %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    <div class="navigation">
                        {{ knp_pagination_render(cliniques) }}
                    </div>
                    <div class="table-responsive">
                        <table class="table-success table table-striped table-hover">
                            <thead>
                                <tr class="table-dark fw-bold">
                                    <th scope="col">{{ knp_pagination_sortable(cliniques, 'Ville', 'c.name') }}</th>
                                    <th scope="col">{{ knp_pagination_sortable(cliniques, 'Nom', 'clinique.name') }}</th>
                                    <th scope="col">Téléphone (+225)</th>
                                    <th scope="col">Informations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for clinique in cliniques %}
                                    <tr>
                                        <td>
                                            <h2 class="fs-5">{{clinique.city}}</h2>
                                        </td>
                                        <td>{{clinique.name}}</td>
                                        <td>{{clinique.phoneNumber}}</td>
                                        <td>{{clinique.information}}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(cliniques) }}
                    </div>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
