{% extends 'base.html.twig' %}

{% block title %}Hello ChartJsController!
{% endblock %}

{% block body %}
    <div>
        I created this UX component because
        <span {{ stimulus_controller('symfony/ux-typed', { strings: ['I ❤ Symfony UX', 'Symfony UX is great', 'Symfony UX is easy'] } ) }}></span>
    </div>
    {{ render_chart(chart) }}

    {# You can pass HTML attributes as a second argument to add them on the <canvas> tag #}
    {{ render_chart(chart, {'class': 'my-chart'}) }}
{% endblock %}
