<a href={{ path(href) }} class="text-center my-5">
    <div class="text-success-800">
        <h3 class="display-5 fw-bold d-block">
            {{title | trans}}
        </h3>
        <span class="fs-2 text-muted">
            {{content | trans}}
        </span>
    </div>
   {% block content %}{% endblock %}
</a>
