{% embed "components/organisms/boxDescription.html.twig" %}
    {% block content %}
        {% autoescape false %}
            <div class="fw-bold fs-5 text-success-800">
                {{commerce.name}}
            </div>
            {{commerce.description}}
        {% endautoescape %}
    {% endblock %}
{% endembed %}
