<div class="d-md-flex py-2 rounded-5 my-5">
    <figcaption class="text-center row">
        <img src={{asset('images/' ~ img) | imagine_filter('big')}} alt="{{alt}}" class="img-fluid rounded-5">
    </figcaption>
    <div class="d-flex flex-column container-fluid justify-content-evenly align-items-center  bg-grey shadow m-1 rounded-5">
        <h1 class="text-success-800">{{title | default("") | trans}}</h1>
        {% block content %}{% endblock %}
    </div>
</div>
