{% embed "components/organisms/boxDescription.html.twig" %}
    {% block content %}
        <h2 class="fw-bold text-success-800 text-center my-3">{{name}}</h2>
        <div class="text-center fs-2">
            {% autoescape false %}
                <span class="d-block">{{subTitle | trans}}</span>
                <span class="d-block">{{description | raw | trans}}</span>
                <p class="text-muted fst-italic d-block">
                    <span class="d-block">
                        <i class="fa-solid fa-phone"></i>
                        {{phoneNumber | default('Auncun téléphone connu')}}
                    </span>
                    <span class="d-block">
                        <i class="fa-solid fa-at"></i>
                        {{email | default('Aucun mail connu')}}
                    </span>
                </p>
            {% endautoescape %}
        </div>
    {% endblock %}
{% endembed %}
