{% embed "components/organisms/boxDescription.html.twig" %}
    {% block content %}
        <h4 class="display-4 fw-bold text-success-800 text-center my-3">
            {{ name }}
        </h4>
        {% if partner.imageName is not null %}
            <figcaption class="text-center">
                <img src={{ image | imagine_filter('thumb')}} alt={{ name }} class="img-fluid mx-auto rounded rounded-circle">
            </figcaption>
        {% endif %}
        <div class="fs-5">
            {% autoescape false %}
                <hr>
                <span class="d-block text-success-800">
                    {{ description | raw | trans }}
                </span>
                <hr>
                <span class="d-block text-dark">
                    {{ activity | trans }}
                </span>
                {% if partner.type is not empty %}
                    <hr>
                    {% for type in type %}
                        <span class="d-block">
                            {{ type | trans }}
                        </span>
                    {% endfor %}
                {% endif %}
                <hr>
                <p class="text-dark fst-italic d-block">
                    {% if partner.phoneNumber is not null %}
                        <span class="d-block">
                            <i class="fa-solid fa-phone"></i>
                            {{ phoneNumber }}
                        </span>
                    {% endif %}
                    {% if partner.email %}
                        <span class="d-block">
                            <i class="fa-solid fa-at"></i>
                            {{ email | default('Aucun mail connu') }}
                        </span>
                    {% endif %}
                    {% if partner.contact is not null %}
                        <span class="d-block">
                            {{ contact | trans }}
                        </span>
                    {% endif %}

                </p>
            {% endautoescape %}
        </div>
    {% endblock %}
{% endembed %}
