{% embed "components/organisms/boxDescription.html.twig" %}
    {% block content %}
        <h2 class="fw-bold text-success-800 text-center my-3">{{pharmacy.name | default ('')}}</h2>
        <div class="text-center fs-2">
            {% autoescape false %}
                <span class="d-block">{{pharmacy.content | default ('') | trans}}</span>
            {% endautoescape %}
        </div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam adipisci debitis pariatur, saepe consequuntur enim accusamus rerum sit animi magnam provident aut ad ipsa labore, ipsum natus repudiandae magni numquam!
    {% endblock %}
{% endembed %}
