<section id={{id}} class="container-fluid d-flex align-items-center text-center py-5 justify-content-center {{class | default('')}}">
    <div>
        {% block content %}{% endblock %}
    </div>
</section>
