<section class="container-fluid d-flex flex-column justify-content-evenly align-items-center mb-5" style="height:80vh
">
    <aside id="register" class="text-center fs-1 lh-lg">
        <span class="fw-bold">Bonjour!</span>
        <span class="d-block fs-4">{{text | default('')}}</span>
    </aside>
    <article class="container-fluid rounded-5 shadow bg-light row p-3 form">
        <div class="col">
            <h2>{{title | default('') |trans }}</h2>
            {% block content %}{% endblock %}
        </div>
        <div class="col d-none d-lg-block text-end my-auto">
            <img src={{asset('images/' ~ img) | imagine_filter("big")}} class="img-fluid" alt="">
        </div>
    </article>
</section>
