{% embed "components/organisms/boxDescription.html.twig" %}
    {% block content %}
        {% for siteInternet in siteInternets %}
            {% autoescape false %}
                {{siteInternet.description}}
            {% endautoescape %}
        {% endfor %}
    {% endblock %}
{% endembed %}
