{% embed "components/organisms/boxDescription.html.twig" %}
    {% block content %}
        <h2 class="fw-bold text-success-800 text-center my-3">{{name}}
        </h2>
        <div class="text-start">
            {% autoescape false %}
                <span class="d-block fs-5">{{description | raw | trans}}</span>
            {% endautoescape %}
        </div>
        <div class="container-fluid py-3">
            {% for link in links %}
                <a href={{link}} target="_blank" class="text-primary">
                    <span class="d-block">{{link | trans}}</span>
                </a>
            {% endfor %}
        </div>
    {% endblock %}
{% endembed %}
