<div class="min-vh-100 align-items-center justify-content-center d-flex flex-column survey" id="next{{n}}"data-turbo="false">
    <div class="border border-success p-3 shadow rounded-5 bg-light" data-aos="fade-up" data-aos-duration="1000">
        <div>
            {% block  content %}{% endblock %}
        </div>
        {% block validation %}
            <a href="#next{{n + 1}}" class="btn btn-success ms-auto d-block">{% trans %}Suivant{% endtrans %}</a>
        {% endblock %}
    </div>
</div>
