{% extends "assistance/layout.html.twig" %}


{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Commerces dédiés"
    }  %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% for country in countries %}
                        {% if country.isValid == true %}
                            <div class="row justify-content-center">
                                <p class="text-justify col-md-10">
                                    Les informations partagées au lancement de cette rubrique sont tirées des réponses obtenues grâce à des questionnaires et interviews. Pour étoffer cette liste, nous avons besoin de vous, partagez vos informations en
                                    <a href={{path("app_home_index")}}>cliquant ici.</a>
                                </p>
                            </div>

                         
                            {% include "components/atoms/btnOutlineShare.html.twig" with {
                                content: country.name | country_name,
                                id: country.id,
                                collapse: "commerces"
                            } %}
                            {% for commerce in commerces %}
                                <div>
                                    {% embed "components/organisms/boxDescription.html.twig" with {
                                        id: "commerces" 
                                    } %}
                                        {% block content %}
                                            {% autoescape false %}
                                                <div class="fw-bold fs-5 text-success-800">
                                                    {{commerce.name}}
                                                </div>
                                                {{commerce.description}}
                                            {% endautoescape %}

                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            {% endfor %}


                        {% endif %}
                        <div></div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
