{% extends "assistance/layout.html.twig" %}


{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "HÔPITAUX & CENTRES MÉDICAUX"
    }  %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% for country in countries %}
                        {% if country.isValid == true %}
                            <div
                                class="justify-content-center row">
                                {# version mobile size text #}
                                <p class="text-justify col-md-10">
                                    {% trans %}
                                    Les hôpitaux et cliniques privées listés dans cette rubrique sont ceux qui nous ont été reportés comme disposant d’un service gériatrique ou au sein desquels les répondants ont fait l’expérience d’une prise en charge réussie de personnes âgées. Pour étoffer cette liste, nous avons besoin de vous, partagez vos informations en
                                    {% endtrans %}
                                    <a href={{path("app_contact_index")}}>cliquant ici.</a>
                                </p>
                            </div>
                            {# laptop version big  #}
                            {% include "components/atoms/btnOutlineShare.html.twig" with {
                                content: country.name | country_name,
                                id: country.id,
                                collapse: "hospitals"
                            } %}
                            <p id="hospitals" class="collapse show d-flex justify-content-center col-md-4">
                                <span class="fw-bold">Vous trouverez une liste plus exhaustive:</span>

                                <ul class="text-center d-block">
                                    <li>D’hôpitaux publics à Abidjan,
                                        <a href="{{path ('app_hospital_abidjan')}}">cliquer ici.</a>
                                    </li>
                                    <li>D’hôpitaux publics à l’intérieur du pays,
                                        <a href="{{path ('app_hospital_interieur')}}">cliquer ici.</a>
                                    </li>
                                    <li>De cliniques privées à Abidjan,
                                        <a href="{{path ('app_hospital_clinique')}}">cliquer ici.</a>
                                    </li>
                                    <li>De cliniques privées à l’intérieur du pays,
                                        <a href="{{path ('app_hospital_cliniqueCiv')}}">cliquer ici.</a>
                                    </li>
                                </ul>
                            </p>

                        {% endif %}
                        <div>
                            {% for hospital in hospitals %}
                                {% if hospital.city.country == country %}
                                    {% autoescape false %}
                                        {% include "components/molecules/hospitalDescription.html.twig" with {
                                            name: hospital.name,
                                            subTitle: hospital.subtitle,
                                            description: hospital.description,
                                            phoneNumber: hospital.phoneNumber,
                                            email: hospital.email,
                                            id: "hospitals"
                                        } %}
                                    {% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
