{% extends 'base.html.twig' %}

{% block login %}
    {% include "components/buttons/share.html.twig" %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('assistance')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('assistance') }}
{% endblock %}
