{% extends "assistance/layout.html.twig" %}


{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: partners.0.servicePlatform.name
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% for country in countries %}
                        {% if country.isValid == true %}
                            {% include "components/atoms/btnOutlineShare.html.twig" with {
                            content: country.name | country_name,
                            id: country.id,
                            collapse: "partnerss"
                        } %}
                        {% endif %}
                        <div>
                            {% for partner in partners %}
                                {% if partner.country == country %}
                                    {% autoescape false %}
                                        {% include "components/molecules/partnerDescription.html.twig" with {
                                            name: partner.name,
                                            image: partner_images ~ partner.imageName,
                                            activity: partner.activity,
                                            type: partner.type,
                                            description: partner.description,
                                            phoneNumber: partner.phoneNumber,
                                            email: partner.email,
                                            contact: partner.contact,
                                            id: "partners"
                                        } %}
                                    {% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
