{% extends "assistance/layout.html.twig" %}
{% block body %}
    {% block login %}{% endblock %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: pharmacies.0.servicePlatform.name
    }  %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% for country in countries %}
                        <div class="justify-content-center row">
                            <p class="text-justify col-md-10">
                                {% trans %}
                                Vous trouverez ci-dessous des contacts de pharmacies.  Pour étoffer cette liste et la maintenir à jour, nous avons besoin de vous, partagez vos informations en
                                {% endtrans %}
                                <a href={{path("app_assistance_share")}}>cliquant ici.</a>
                            </p>
                        </div>
                        {% include "components/atoms/btnOutlineShare.html.twig" with {
                                content: country.name | country_name,
                                id: country.id,
                                collapse: country.slug
                            } %}
                        <p class="collapse show text-justify col-md-10 text-uppercase fs-1 fw-bold">En cours de construction
                        </p>
                        <div>
                            {% for pharmacy in pharmacies %}
                                {% if pharmacy.country == country %}
                                    {{ component ('pharmacyComponent', {
                                        id: country.slug,
                                        pharmacy: pharmacy
                                    })}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
