{% extends 'assistance/layout.html.twig' %}
{% set pageName = "Partage d'information" %}
{% block title %}
    {{pageName}}
{% endblock %}
{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName : 'Prise en charge des personnes âgées'
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig" %}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" with {
                class: "bg-grey"
            } %}
                {% block content %}
                    <h1 class="fs-1 text-success-800 d-block text-center mt-5 fw-bold">{% trans %}Informations par thématique{% endtrans %}</h1>
                    <div class="d-flex flex-column align-items-center">

                        {% for servicePlatform in servicePlatforms %}
                            <a class="container-fluid btn btn-outline-secondary btn-lg m-3 shadow row col-md-9 col-11" href={{ path (servicePlatform.path)}}>

                                {{servicePlatform.name}}
                            </a>

                        {% endfor %}

                    </div>
                {% endblock %}
            {% endembed %}
            {# bouton flotant #}
            <section id="country" class="text-center">
                <div class="mx-auto text-light container-fluid py-1">
                    <aside class="lead mb-4 fs-1">
                        <span>
                            {% trans %}Les informations concernant{% endtrans %}
                        </span>
                        <strong class="h2 fs-1">
                            {% trans %}les seniors en Afrique,{% endtrans %}
                        </strong>
                        {% trans %}ont été obtenues grâce à des campagnes de collecte d'information que nous avons menées via des questionnaires et des interviews.{% endtrans %}</p>
                    <aside class="fw-bold fs-2">{% trans %}Nous avons besoin de vos commentaires et informations pour enrichir cette rubrique!{% endtrans %}</p>
                    <div
                        class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <!-- Button trigger modal -->
                     {#    <button type="button" class="btn btn-light display-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <p>{% trans %}Veuillez sélectionner un pays{% endtrans %}
                                <i class="fa-solid fa-sort-down"></i>
                            </p>
                        </button> #}
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="ms-auto me-2 mt-2 btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% for country in countries %}
                                            {% if country.isValid == true %}
                                                <div class="js-country row justify-content-center">
                                                    <a href={{ path('app_country_index', {"id": country.id } ) }} class="btn btn-light col-lg-7 gy-2">
                                                        <h1>{{country.name | country_name}}</h1>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    {% endembed %}
{% endblock %}
