{% extends "assistance/layout.html.twig" %}

{% block body
 %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Sites internet"
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig" %}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    <div class="row justify-content-center">
                        <p class="col-md-10 text-justify">
                            Nous avons découvert au cours de notre phase de recherche sur le sujet du vieillissement en Afrique des sites ainsi que des applications fournissant des informations ou services qui peuvent être très utiles dans un accompagnement digne de nos parents âgés. Nous n'avons pas de liens avec les structures citées ci-dessous. Si vous en connaissez d'autres, n'hésitez pas à partager votre information en
                            <a href={{path ("app_contact_index")}}>cliquant ici</a>
                        </p>
                    </div>
                    {% for country in countries %}
                        {% if country.isValid == true %}
                            {% include "components/atoms/btnOutlineShare.html.twig" with {
                            content: country.name | country_name,
                            id: country.id,
                        } %}
                        {% endif %}
                    {% endfor %}

                    <div>
                        {% embed "components/organisms/boxDescription.html.twig" %}
                            {% block content %}
                                {% for siteInternet in siteInternets %}
                                    {% autoescape false %}
                                        {{siteInternet.description}}
                                    {% endautoescape %}

                                {% endfor %}
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endblock %}
            {% endembed %}

        {% endblock %}
    {% endembed %}
{% endblock %}
