{% extends 'assistance/layout.html.twig' %}
{% set pageName = "Actions sociales" %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig" %}
        {% endblock %}
        {% block content %}


            {# fullpage #}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% embed "components/molecules/blockRounded.html.twig" %}
                        {% block content %}
                            <p class="fs-1 text-success-800 fw-bold mt-3 text-center">
                                {% trans %}Vous êtes une association, une ONG ou toute autre structure à vocation sociale:{% endtrans %}
                            </p>
                            <div class="row">
                                <ul class="fs-3 text-muted col-md-7 d-flex flex-column justify-content-center">
                                    <li class="mb-5">
                                        <i class="fa-solid fa-hand-holding-heart text-warning-700"></i>
                                        {% trans %}
                                        Vous menez des actions caricatives à destination des personnes âgées en Afrique subsaharienne francophone;{% endtrans %}
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-hand-holding-heart text-warning-700"></i>
                                        <span>
                                            {% trans %}
                                            Vous voulez: gagner en visibilité, faire connaitre vos actions et vos besoins, alors ...
                                            {% endtrans %}
                                        </span>
                                    </li>
                                    {% include "components/atoms/contactUs.html.twig" %}
                                </ul>
                                <div class="col-md-5 text-center pb-3">
                                    <a href={{ path('app_contact_index') }} class="">
                                        <figure class="c4-izmir c4-border-center">
                                            <img src={{asset('images/heart.jpg') | imagine_filter('big')}} alt={% trans %} "Coeur fait avec les mains" {% endtrans %} class="img-fluid p-1 rounded">
                                            <figcaption>
                                                <h3 class="text-light fs-1 fw-bold">{% trans %}Nous contacter{% endtrans %}</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
            {# Seconde partie #}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% embed "components/molecules/blockRounded.html.twig" %}
                        {% block content %}
                            <p class="fs-1 text-success-800 fw-bold mt-5 text-center">{% trans %}Nous vous proposons un espace sur lequel vous pourrez:{% endtrans %}</p>
                            <div class="row">
                                <ul class="fs-3 text-muted col-md-7 d-flex flex-column justify-content-center">
                                    <li class="mb-3">
                                        <i class="fa-solid fa-hand-holding-heart text-warning-700"></i>
                                        {% trans %}Présenter votre structure{% endtrans %}</li>
                                    <li class="mb-3">
                                        <i class="fa-solid fa-hand-holding-heart text-warning-700"></i>
                                        {% trans %}Présenter une action spécifique{% endtrans %}</li>
                                    <li>
                                        <i class="fa-solid fa-hand-holding-heart text-warning-700"></i>
                                        {% trans %}Exprimer vos attentes et besoins{% endtrans %}
                                    </li>
                                    {% include "components/atoms/contactUs.html.twig" %}
                                </ul>
                                <div class="col-md-5 text-center pb-3">
                                    <a href={{ path('app_contact_index') }}>
                                        <figure class="c4-izmir c4-border-center">
                                            <img src={{asset('images/aging.jpg') | imagine_filter('big')}} alt={% trans %} "homme africain épaulé par une infirmière" {% endtrans %} class="img-fluid p-1 rounded">
                                            <figcaption>
                                                <h3 class="text-light fs-1 fw-bold">{% trans %}Nous contacter{% endtrans %}</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}

            <section id="bottom-social" class="">

                {% for monthPartner in monthPartners %}
                    <p class="display-3 fw-bold text-center mt-5 text-success-800">
                        {% trans %}A l'honneur{% endtrans %}
                    </p>
                    {% embed "components/molecules/blockRounded.html.twig" with {
                        class:"bg-green container-fluid col-md-8 col-12"
                    } %}
                        {% block content %}

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                {% autoescape false %}
                                    <p class="display-4 fw-bold text-light me-3">{{monthPartner.name}}</p>
                                    <img src={{asset('images/clumb.png') | imagine_filter("thumb")}} alt={{monthPartner.name}} class="pt-3">
                                {% endautoescape %}
                            </div>
                            <div class="text-wheat fs-5">
                                {% autoescape false %}
                                    <p>{{monthPartner.address}},
                                        {{monthPartner.country}}</p>
                                    <hr>
                                    <h3 class="text-success-800 fw-bold fs 1">
                                        {% trans %}description{% endtrans %}
                                    </h3>
                                    <p>{{monthPartner.description}}</p>
                                    <hr>
                                    <h3 class="text-success-800 fw-bold fs 1">
                                        {% trans %}Activité{% endtrans %}
                                    </h3>
                                    <p>{{monthPartner.activity}}</p>
                                    <p>{% trans %}Responsable:
                                        {% endtrans %}
                                        <span>{{ monthPartner.contact}}</span>
                                    </p>
                                    <div class="fs-5">
                                        <p>{% trans %}<i class="fa-solid fa-phone text-warning-700"></i>
                                            {% endtrans %}
                                            {{monthPartner.phoneNumber}}</p>
                                        <p>{% trans %}<i class="fa-solid fa-at text-warning-700"></i>
                                            {% endtrans %}
                                            {{monthPartner.email}}</p>
                                    </div>
                                {% endautoescape %}
                            </div>
                            <div class="text-center pb-3">
                                <a href={{ asset('pdf/asssociationtest.pdf') }} target="_blank" class="btn btn-warning rounded p-3 text-light">{% trans %}En savoir plus{% endtrans %}</a>
                            </div>
                            <p class="fw-bold container-fluid py-3">
                                {% trans %}Pour retrouver les associations précédemment à l'honneur{% endtrans %}
                                <a href={{ path('app_assistance_partner') }} class="pt-3 text-warning-700">
                                    <span>{% trans %}cliquez ici{% endtrans %}</span>
                                </a>
                            </p>


                        {% endblock %}
                    {% endembed %}

                {% endfor %}
            </section>

            <section id="middle-social" class="container-fluid mt-3 rounded-5">
                <p class="fs-1 fw-bold text-light py-4">{% trans %}Le monde associatif est un acteur majeur de la prise en charge de nos
                    <em>seniors en Afrique.</em>
                    Aussi, la mise en lumière vos actions est l’expression de la dimension sociale qui est essentielle dans l’ADN de{% endtrans %}
                    <em>{% trans %}Maison Philo.{% endtrans %}</em>
                </p>
            </section>
        {% endblock %}
    {% endembed %}
{% endblock %}
