{% extends 'assistance/layout.html.twig' %}
{% block body %}
    {% embed 'components/organisms/fullPage.html.twig' with { pageName: 'Centres sociaux' } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            <div class="min-vh-100 d-flex flex-column align-items-center justify-content-center bg-dark text-light display-1 text-font-2">
                <p class="text-center">
                    Page en cours de construction
                </p>
                <p>
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </p>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
