{% extends "assistance/layout.html.twig" %}


{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: stateDevices.0.servicePlatform.name
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% for country in countries %}
                        {% if country.isValid == true %}
                            {% include "components/atoms/btnOutlineShare.html.twig" with {
                            content: country.name | country_name,
                            id: country.id
                        } %}
                        {% endif %}
                        <div>
                            {% for stateDevice in stateDevices %}
                                {% if stateDevice.country == country %}
                                    {% autoescape false %}
                                        {% include "components/molecules/stateDeviceDescription.html.twig" with {
                                        name: stateDevice.name,
                                        description: stateDevice.description,
                                        links: stateDevice.links,
                                    } %}
                                    {% endautoescape %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
