{% extends 'general_terms/layout.html.twig' %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Conditions générales"
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}

                    {# Mentions légales #}

                    {% include "components/atoms/btnOutlineShare.html.twig" with {
                    content: "Mentions légales",
                    expanded: "true",
                    collapse: "mentions"
                } %}
                    {% autoescape false %}
                        {% embed "components/organisms/boxDescription.html.twig" with {
                    class: "hide",
                    id: "mentions"
                } %}
                            {% block content %}
                                {% autoescape false %}
                                    <div>{{generalTerms.0.legalNotice}}</div>
                                {% endautoescape %}
                            {% endblock %}
                        {% endembed %}
                    {% endautoescape %}

                    {# politique cookies #}
                    {% include "components/atoms/btnOutlineShare.html.twig" with {
                        content: "Politique cookies",
                        expanded: "true",
                        collapse: "cookies"
                    } %}
                    {% autoescape false %}
                        {% embed "components/organisms/boxDescription.html.twig" with {
                            class: "hide",
                            id: "cookies"
                        } %}
                            {% block content %}
                                {% autoescape false %}
                                    <div>{{generalTerms.0.cookiePolicy}}</div>
                                {% endautoescape %}
                            {% endblock %}
                        {% endembed %}
                    {% endautoescape %}

                    {# Politique de protection de vie privée -  Maison Philo #}

                    {% include "components/atoms/btnOutlineShare.html.twig" with {
                        content: "Politique de protection de vie privée -  Maison Philo",
                        expanded: "true",
                        collapse: "privee"
                    } %}
                    {% autoescape false %}
                        {% embed "components/organisms/boxDescription.html.twig" with {
                        class: "hide",
                        id: "privee"
                    } %}
                            {% block content %}
                                {% autoescape false %}
                                    <div>{{generalTerms.0.protectionOfPrivacy}}</div>
                                {% endautoescape %}
                            {% endblock %}
                        {% endembed %}
                    {% endautoescape %}


                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %},

{% endblock %}
