{% extends 'base.html.twig' %}

{% block login %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('generalTerms')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('generalTerms') }}
{% endblock %}
