@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$success-800: #043106;
$primary-200: #83a8cb;
$primary-800: #445c72;
$warning: #ffc107;
$warning-700: #f75206;
$warning-300: #ebc248;
$warning-200: #f0dca0;
$warning-100: #eadaac;
$gray-300: #ebe8e8;
$wheat: wheat;
$nina : #fff3cd;
$white: white;

body{
  font-family: 'Roboto', sans-serif;
}
/* effects */
.hover1 {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.hover1:hover {
  opacity: 0.5;
}

.text-font-script {
  font-family: Parisienne, cursive;
}

.text-justify {
  text-align: justify;
}

.text-warning-300 {
  color: $warning-300;
}

.text-warning-700 {
  color: $warning-700;
}

.text-primary-800 {
  color: $primary-800;
}

.text-success-800 {
  color: $success-800;
}

.text-wheat {
  color: $wheat;
}

.text-white{
  color: $white;
}

.bg-danger-grad {
  background: rgb(245 6 6);
  background: linear-gradient(
    90deg,
    $warning-700 0%,
    rgb(218 4 4) 80%,
    $warning-700 100%
  );
}

.bg-success-800 {
  background-color: $success-800;
}

.bg-primary-200 {
  background-color: $primary-200;
}

.bg-warning-700 {
  background: rgb(247 122 44);
  background: linear-gradient(
    90deg,
    $warning-700 0%,
    rgb(255 172 3 / 100%) 80%,
    $warning-700 100%
  );
}

.bg-warning-200 {
  background-color: $warning-200;
}

.bg-warning-100 {
  background-color: $warning-100;
}

.bg-grey {
  background: rgb(213 211 211);
  background: linear-gradient(
    90deg,
    rgb(213 211 211 / 100%) 0%,
    rgb(248 250 248 / 100%) 33%,
    rgb(249 252 249 / 100%) 35%,
    rgb(191 194 191 / 100%) 100%
  );
}

.bg-green {
  background: rgb(35 80 10);
  background: linear-gradient(
    90deg,
    rgb(35 80 10 / 100%) 0%,
    rgb(37 147 41 / 100%) 35%,
    rgb(11 60 17 / 100%) 100%
  );
}

.bg-white{
  background-color: $white;
}

.btn-warning {
  background: rgb(247 122 44);
  background: linear-gradient(
    90deg,
    $warning-700 0%,
    rgb(255 172 3 / 100%) 80%,
    $warning-700 100%
  );
  border-color: $warning;
  color: whitesmoke;
}

.btn-blue {
  background: rgb(101, 121, 222);
  background: linear-gradient(
    90deg,
    $primary-200 0%,
    rgb(76, 44, 189) 80%,
    $primary-800 100%
  );
  border-color: rgb(128, 129, 134);
  color: rgb(4, 14, 67);
}

.btn-success-800 {
  background-color: $success-800 !important;
  border-color: $success-800;
  color: $gray-300;

  &:hover{
    background-color: #7dad7f!important;
    color: $nina;
  }
}

.btn-light {
  background-color: $nina;
}


.c4-izmir {
  --primary-color: transparent;
  --secondary-color: #d0206e;
  --transition-duration: 500ms;
  --border-width: 6px;
  --overlay-opacity: 0.5;
  --text-color: #043106;
}
