// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./floatButton";
@import "./loginFloatButton";

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  border-radius: 100px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 300px;
  height: 300px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  z-index: 999;
}

section#top {
  background-color: $success-800;
  min-height: 10vh;
}

.return-up {
  z-index: 999;
  bottom: 5vh;
  position: fixed;
  right: 1vh;
  padding: 5px;
}

.opacity-85 {
  opacity: 0.85;
}

.back {
  z-index: 999;
  top: 5vh;
  position: fixed;
  left: 1vh;
  padding: 5px;
}

.z-index {
  z-index: 999 !important;
}

#footer {
  min-height: 10vh;
  background: rgb(35 80 10);
  background: linear-gradient(
    90deg,
    rgb(35 80 10 / 100%) 0%,
    rgb(37 147 41 / 100%) 35%,
    rgb(11 60 17 / 100%) 100%
  );
}

section#history,
.text-justify {
  text-align: justify;
}

li {
  padding-left: 0.2em;
}

.hover10 img {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.hover10:hover img {
  opacity: 0.5;
}
