@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
.text-font-script {
  font-family: Parisienne, cursive;
}

.text-font-1 {
  font-family: Montserrat, sans-serif;
}

.text-font-2 {
  font-family: "Courier Prime", monospace;
}

.text-justify {
  text-align: justify;
}

.text-warning-300 {
  color: #ebc248;
}

.text-warning-700 {
  color: #f75206;
}

.text-primary-800 {
  color: #445c72;
}

.text-success-800 {
  color: #043106;
}

.text-wheat {
  color: wheat;
}

.bg-success-800 {
  background-color: #043106;
}

.bg-primary-200 {
  background-color: #83a8cb;
}

.bg-warning-700 {
  background: #f77a2c;
  background: -webkit-gradient(linear, left top, right top, from(#f75206), color-stop(80%, #ffac03), to(#f75206));
  background: linear-gradient(90deg, #f75206 0%, #ffac03 80%, #f75206 100%);
}

.bg-warning-200 {
  background-color: #f0dca0;
}

.bg-warning-100 {
  background-color: #eadaac;
}

.bg-grey {
  background: #d5d3d3;
  background: -webkit-gradient(linear, left top, right top, from(#d5d3d3), color-stop(33%, #f8faf8), color-stop(35%, #f9fcf9), to(#bfc2bf));
  background: linear-gradient(90deg, #d5d3d3 0%, #f8faf8 33%, #f9fcf9 35%, #bfc2bf 100%);
}

.bg-green {
  background: #23500a;
  background: -webkit-gradient(linear, left top, right top, from(#23500a), color-stop(35%, #259329), to(#0b3c11));
  background: linear-gradient(90deg, #23500a 0%, #259329 35%, #0b3c11 100%);
}

.btn-warning {
  background: #f77a2c;
  background: -webkit-gradient(linear, left top, right top, from(#f75206), color-stop(80%, #ffac03), to(#f75206));
  background: linear-gradient(90deg, #f75206 0%, #ffac03 80%, #f75206 100%);
  border-color: #043106;
  color: whitesmoke;
}

.btn-success-800 {
  background-color: #043106 !important;
  border-color: #043106;
  color: #ebe8e8;
}

.c4-izmir {
  --primary-color: transparent;
  --secondary-color: #d0206e;
  --transition-duration: 500ms;
  --border-width: 6px;
  --overlay-opacity: 0.5;
  --text-color: #043106;
}

.flag {
  height: 10vh;
}

#middle-social {
  background-image: url("../../../public/images/africa.jpg");
  background-size: cover;
  min-height: 20vh;
  background-position: center center;
}

.return-up {
  bottom: 5vh;
  position: fixed;
  right: 1vh;
  padding: 5px;
}

.back {
  top: 5vh;
  position: fixed;
  left: 1vh;
  padding: 5px;
}

.hide {
  display: none;
}

/*
* share page
* section theme
*/
section#theme .btn-lg {
  font-size: 3em;
}

/* section country */
section#country {
  background-image: url("../../public/images/country.jpg");
  background-position: center center;
  background-size: cover;
}

.mark li::marker {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  content: "\f4be";
  color: #043106;
}

@media only screen and (min-width: 1000px) {
  /* country page */
  /* section country */
  .hide {
    display: block;
  }
  /*
* share page
* section theme
*/
  section#theme .btn-lg {
    font-size: 1.5em;
    width: 50vw !important;
  }
}
/*# sourceMappingURL=assistance.css.map */