@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
.text-font-script {
  font-family: Parisienne, cursive;
}

.text-font-1 {
  font-family: Montserrat, sans-serif;
}

.text-font-2 {
  font-family: "Courier Prime", monospace;
}

.text-justify {
  text-align: justify;
}

.text-warning-300 {
  color: #ebc248;
}

.text-warning-700 {
  color: #f75206;
}

.text-primary-800 {
  color: #445c72;
}

.text-success-800 {
  color: #043106;
}

.text-wheat {
  color: wheat;
}

.bg-success-800 {
  background-color: #043106;
}

.bg-primary-200 {
  background-color: #83a8cb;
}

.bg-warning-700 {
  background: #f77a2c;
  background: -webkit-gradient(linear, left top, right top, from(#f75206), color-stop(80%, #ffac03), to(#f75206));
  background: linear-gradient(90deg, #f75206 0%, #ffac03 80%, #f75206 100%);
}

.bg-warning-200 {
  background-color: #f0dca0;
}

.bg-warning-100 {
  background-color: #eadaac;
}

.bg-grey {
  background: #d5d3d3;
  background: -webkit-gradient(linear, left top, right top, from(#d5d3d3), color-stop(33%, #f8faf8), color-stop(35%, #f9fcf9), to(#bfc2bf));
  background: linear-gradient(90deg, #d5d3d3 0%, #f8faf8 33%, #f9fcf9 35%, #bfc2bf 100%);
}

.bg-green {
  background: #23500a;
  background: -webkit-gradient(linear, left top, right top, from(#23500a), color-stop(35%, #259329), to(#0b3c11));
  background: linear-gradient(90deg, #23500a 0%, #259329 35%, #0b3c11 100%);
}

.btn-warning {
  background: #f77a2c;
  background: -webkit-gradient(linear, left top, right top, from(#f75206), color-stop(80%, #ffac03), to(#f75206));
  background: linear-gradient(90deg, #f75206 0%, #ffac03 80%, #f75206 100%);
  border-color: #043106;
  color: whitesmoke;
}

.btn-success-800 {
  background-color: #043106 !important;
  border-color: #043106;
  color: #ebe8e8;
}

.c4-izmir {
  --primary-color: transparent;
  --secondary-color: #d0206e;
  --transition-duration: 500ms;
  --border-width: 6px;
  --overlay-opacity: 0.5;
  --text-color: #043106;
}

a {
  text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #043106;
}

.active {
  color: #ffc107;
}

.float-button {
  z-index: 999;
  top: 30vh;
  position: fixed;
  right: 0;
  opacity: 0.75;
}

.return-up {
  bottom: 5vh;
  position: fixed;
  right: 1vh;
  padding: 5px;
}

/* Top page */
section#top-page {
  background-image: url("../../public/images/test.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

section#top-page .title {
  text-shadow: 8px 8px 6px #043106 !important;
}

section#top-page .sub-title {
  text-shadow: 8px 8px 6px #ebe8e8 !important;
}

section#top-page .text-title {
  color: #043106;
  background-color: wheat;
  font-weight: bold;
}

/* Section services */
section#services .circle {
  height: 100px;
  width: 100px;
  border: 5px solid #ffc107;
  border-radius: 50%;
}

section#vision {
  height: auto;
  background-image: url("../../public/images/bg_or.jpg");
  background-size: cover;
  background-position: center center;
}

/* Section about */
section#about {
  height: auto;
}

section#about .btn-circle {
  width: 250px;
  height: 250px;
  margin-bottom: 3vh;
  border: 5px solid #ebe8e8;
}

section#about .title {
  margin-bottom: 5rem;
}

/* Section commitment */
section#commit {
  height: auto;
}
/*# sourceMappingURL=home.css.map */