@import "./variables";

a {
  text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: $success-800;
}

.active {
  color: $warning;
}

.float-button {
  z-index: 999;
  top: 30vh;
  position: fixed;
  right: 0;
  opacity: 0.75;
}

.return-up {
  bottom: 5vh;
  position: fixed;
  right: 1vh;
  padding: 5px;
}

/* Top page */
section#top-page {
  background-image: url("../../public/images/test.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .title {
    text-shadow: 8px 8px 6px #043106 !important;
  }

  .sub-title {
    text-shadow: 8px 8px 6px $gray-300 !important;
  }

  .text-title {
    color: $success-800;
    background-color: wheat;
    font-weight: bold;
  }
}

/* Section services */
section#services {
  .circle {
    height: 100px;
    width: 100px;
    border: 5px solid $warning;
    border-radius: 50%;
  }
}

section#vision {
  height: auto;
  background-image: url("../../public/images/bg_or.jpg");
  background-size: cover;
  background-position: center center;
}

/* Section about */
section#about {
  height: auto;

  .btn-circle {
    width: 250px;
    height: 250px;
    margin-bottom: 3vh;
    border: 5px solid $gray-300;
  }

  .title {
    margin-bottom: 5rem;
  }
}

/* Section commitment */
section#commit {
  height: auto;
}
