#js-login-button {
  top: 15vh;
  z-index: 999 !important;
  position: relative;
  position: fixed;
  right: 0.5vh;
}

@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pop-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes pop-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.speed-dial {
  text-align: center;
  display: inline-block;
}

.speed-dial a,
.speed-dial a:hover,
.speed-dial a:active,
.speed-dial a:visited,
.speed-dial a:focus {
  color: #fafafa;
  display: inline-block;
  text-decoration: none;
}

.speed-dial .toggle {
  display: inline-block;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 32px;
  line-height: 75px;
  margin: 8px 0;
}

.speed-dial:hover .dials a {
  -webkit-animation: pop-in 0.3s ease both;
          animation: pop-in 0.3s ease both;
}

.speed-dial .dials {
  margin: 0;
  padding: 0;
  list-style: none;
}

.speed-dial .dials a {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  margin: 8px 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: pop-out 0.3s ease both;
          animation: pop-out 0.3s ease both;
}

.speed-dial .dials a.pop-in {
  -webkit-animation: pop-in 0.3s ease both;
          animation: pop-in 0.3s ease both;
}

.speed-dial .dials li:nth-child(0) a {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.speed-dial .dials li:nth-child(1) a {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.speed-dial .dials li:nth-child(2) a {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.speed-dial .dials li:nth-child(3) a {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.speed-dial .dials li:nth-child(4) a {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.speed-dial .dials li:nth-child(5) a {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.speed-dial .dials li:nth-child(6) a {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.label {
  display: inline-block;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 32px;
  line-height: 75px;
  line-height: 1px;
}

.label span {
  font-size: 14px;
}

.circle {
  width: 75px;
  height: 75px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 10px;
  text-align: center;
}
/*# sourceMappingURL=loginFloatButton.css.map */