#js-login-button {
  top: 15vh;
  z-index: 999 !important;
  position: relative;
  position: fixed;
  right: 0.5vh;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes pop-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@mixin circle($size) {
  display: inline-block;
  border-radius: 50%;
  @if $size == small {
    width: 75px;
    height: 75px;
    font-size: 32px;
    line-height: 75px;
  } @else if $size == tiny {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
  }
}

.speed-dial {
  text-align: center;
  display: inline-block;

  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    color: #fafafa;
    display: inline-block;
    text-decoration: none;
  }

  .toggle {
    @include circle(small);

    margin: 8px 0;
  }

  &:hover .dials a {
    animation: pop-in 0.3s ease both;
  }
  &:hover .dials p{
    animation: pop-in 0.3s ease both;
  }

  .dials {
    margin: 0;
    padding: 0;
    list-style: none;

    p {
      transform: scale(0);
      animation: pop-out 0.3s ease both;
    /*   background: rgb(247 122 44);
      background: linear-gradient(
        90deg,
        $warning-700 0%,
        rgb(255 172 3 / 100%) 80%,
        $warning-700 100%
      ); */
    }

    a {
      @include circle(tiny);

      //margin: 2px 0;
      transform: scale(0);
      animation: pop-out 0.3s ease both;
    }

    a.pop-in, p.pop-in {
      animation: pop-in 0.3s ease both;
    }
  
    //add incremental delays so that the buttons pop in order, supports up to 6 links
    @for $i from 0 through 6 {
      li:nth-child(#{$i}) a {
        animation-delay: $i * 0.1s;
      }
    }
  }
}

.label {
  //@include circle(small);

  //line-height: 1px;

 
    font-size: 15px;
}

.circle {
  width: 75px;
  height: 75px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 10px;
  text-align: center;
}