.form {
    background: rgb(240 235 235);
    background: linear-gradient(90deg, rgb(240 235 235 / 100%) 0%, rgb(248 250 248 / 100%) 33%, rgb(249 252 249 / 100%) 35%, rgb(234 236 234 / 100%) 100%);
}
