.form {
  background: #f0ebeb;
  background: -webkit-gradient(linear, left top, right top, from(#f0ebeb), color-stop(33%, #f8faf8), color-stop(35%, #f9fcf9), to(#eaecea));
  background: linear-gradient(90deg, #f0ebeb 0%, #f8faf8 33%, #f9fcf9 35%, #eaecea 100%);
}
/*# sourceMappingURL=security.css.map */