label.required::after {
  content: "*";
  color: red;
  margin-left: 10px;
}

.survey {
  background: rgb(213 211 211);
  background: linear-gradient(
    90deg,
    rgb(213 211 211 / 100%) 0%,
    rgb(248 250 248 / 100%) 33%,
    rgb(249 252 249 / 100%) 35%,
    rgb(191 194 191 / 100%) 100%
  );
}
