label.required::after {
  content: "*";
  color: red;
  margin-left: 10px;
}

.survey {
  background: #d5d3d3;
  background: -webkit-gradient(linear, left top, right top, from(#d5d3d3), color-stop(33%, #f8faf8), color-stop(35%, #f9fcf9), to(#bfc2bf));
  background: linear-gradient(90deg, #d5d3d3 0%, #f8faf8 33%, #f9fcf9 35%, #bfc2bf 100%);
}
/*# sourceMappingURL=survey.css.map */