{% extends 'contact/layout.html.twig' %}

{% block title %}{% endblock %}
{% block share %}{% endblock %}
{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
        pageName: "Nous Contacter"
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig" %}
        {% endblock %}

        {% block content %}


            {% embed "components/molecules/section.html.twig" %}
                {% block content %}

                    <div class="container-fluid" data-aos="fade-up" data-aos-duration="1000">
                        <section>
                            <div class="d-flex-lg justify-content-evenly">
                                <aside>
                                    <span class="fs-5 text-justify p-2">
                                        <div class="mb-3 fw-bold text-success-800">{% trans %}Ensemble nous sommes plus forts !{% endtrans %}</div>
                                        {% trans %}Nous avons besoin de vous pour enrichir ce site d’informations utiles. Aussi, n’hésitez pas à partager les informations à votre connaissance qui ne serait pas encore présentées sur ce site.{% endtrans %}
                                    </span>
                                </aside>
                                <article id="contact" class="my-5 row justify-content-center">
                                    <div class="border rounded-5 shadow bg-grey p-3 col-md-8 col-12" data-aos="zoom-in" data-aos-duration="1000">
                                        <h1>
                                            <i class="fa-brands fa-slideshare"></i>
                                            <span>{% trans %}Partagez vos informations{% endtrans %}</span>
                                        </h1>
                                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'data-turbo' : "false"}}) }}
                                        {{ form_widget(form) }}
                                        {{ form_end(form) }}
                                    </div>
                                </article>
                                <div class="text-center my-3">
                                    <img src={{asset('images/partage.jpg') | imagine_filter("full") }} alt={% trans %} "partage" {% endtrans %} class="shadow img-fluid">
                                </div>
                            </div>

                        </section>
                    </div>
                {% endblock %}
            {% endembed  %}
        {% endblock %}
    {% endembed  %}
{% endblock %}
