{% extends 'base.html.twig' %}
{% block header %}
    {% include "components/atoms/floatButton.html.twig" %}
{% endblock %}
{% block login %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('contact')}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}