{% extends 'contact/layout.html.twig' %}

{% set pageName = "Nos Seniors à l'honneur" %}
{% block share %}{% endblock %}
{% block body %}
    {% embed "components/organisms/fullPage.html.twig" with {
    } %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig" %}
        {% endblock %}

        {% block content %}

            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    <div class="container-fluid" data-aos="fade-up" data-aos-duration="1000">
                        <section>
                            <div class="row">
                                <aside class="col">
                                    <p class="text-justify p-2">
                                        <div class="mb-3 text-dark">

                                            <p class="h3 fs-5 text-success-800">
                                                <strong>{% trans %}Honorons nos ainés de leur vivant!{% endtrans %}
                                                </strong>
                                            </p>

                                            <p class="">
                                                Nous vous invitons à interviewer vos proches âgés pour connaitre leur histoire. Pour mener cet échange, nous vous proposons un exemple de questionnaire
                                            </p>
                                            <p class="fw-bold">
                                                <a href="{{asset ('pdf/senior_survey.pdf')}}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                                    <i class="fa-solid fa-download"></i>
                                                    Télécharger le questionnaire
                                                </a>
                                            </p>
                                            <p>
                                                Nous croyons que chaque personne âgée à une leçon de vie à donner aux générations suivantes. Si vous le souhaitez, partagez-nous les histoires de vie de vos séniors via:

                                            </p>
                                            <ul>
                                                <li>Notre page contact
                                                    <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cliquer ici</a>
                                                </li>
                                                <li>Par mail maisonphilo.contact@gmail.com
                                                </li>
                                            </ul>
                                        </p>
                                    </p>
                                    <p>
                                        Nous les mettrons à l'honneur!
                                    </p>
                                    <p class="h3 fs-5 text-success-800">
                                        <strong>{% trans %}Suivez nous sur:{% endtrans %}
                                        </strong>
                                    </p>

                                    <p class="text-primary">
                                        <i class="fa-brands fa-square-facebook fs-1 pe-3"></i>
                                        <a href="https://www.facebook.com/Maisonphilo95" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">https://www.facebook.com/Maisonphilo95</a>
                                    </p>

                                    <p class="text-warning-700">
                                        <i class="fa-brands fa-square-instagram fs-1 pe-3"></i>
                                        <a href="https://www.instagram.com/maisonphilo.contact?utm_source=qr&igsh=MWh3cGppeWNjMWc0bg==" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">https://www.instagram.com/maisonphilo.contact?utm_source=qr&igsh=MWh3cGppeWNjMWc0bg==</a>
                                    </p>

                                    <p>
                                        A bientôt
                                    </p>

                                </aside>
                                <article class="col-lg-4 col-md-12 py-3">
                                    <img src="{{asset ('images/senior_honneur.jpg')}}" class="rounded-3 img-fluid" alt="...">
                                </article>


                            </div>

                        </section>
                    </div>
                {% endblock %}
            {% endembed  %}
        {% endblock %}
    {% endembed  %}
{% endblock %}
