<div class="fs-1 text-font-1 text-uppercase text-light bg-success-800 d-flex justify-content-center align-items-center">
    <a class="text-decoration-none me-5" href={{ path('app_home_index') }}><img src="{{ asset('images/logo_1.png') | imagine_filter('logo') }}" alt="maisonphilo" class="bg-light rounded-circle">
    </a>
    <h1 class="fs-3 m-0">{{pageName | trans}}</h1>
</div>
