<a 
    {% if path is defined %} 
        href={{ path(path) }} 
    {% endif %} class="container-fluid btn btn-outline-secondary btn-lg m-3 shadow row col-md-9 col-11" id="{{ id | default("")}}" data-bs-toggle="collapse" href="{{"#"~ collapse | default('collapseExample')}}" role="button" aria-expanded={{expanded | default ("false")}}  aria-controls="{{ collapse | default('collapseExample')}}">
    <h3>{{content | trans}}</h3>
    <div class="bg-light d-flex flex-column align-items-center justify-content-center "> 
        {% block content %}{% endblock %}
    </div>
</a>