<div class="col-lg-4 text-center mb-5">
    <a href={{ asset('pdf/'~ asset ~'.pdf') }} target="_blank" class="text-light">
        <figure class="c4-izmir c4-border-center">
            <img src={{asset('images/' ~ png) | imagine_filter('circle')}} alt={{alt | trans}} class="img-fluid p-1">
            <figcaption>
                <h3 class="fs-1 fw-bold">{% trans %}Cliquez-ici!{% endtrans %}</h3>
            </figcaption>
        </figure>
        <p>{% trans %}Cliquez sur l'image pour télécharger notre documentation{% endtrans %}</p>
    </a>
    <p role="button" class="d-block fs-4 text-justify show{{index}} pe-auto container-fluid text-wheat">
        {{content}}
        <span id='show{{index}}' style='display:none'>
            {{hide}}
        </span>
        <span class='text-light text-decoration-underline pe-auto hide{{index}}'>
            <em class='d-block'>{% trans %}En savoir plus{% endtrans %}
                <i class='fa-solid fa-caret-down'></i>
            </em>
            <em class='hide{{index}}' style='display:none'>
                <i class='fa-solid fa-caret-up'></i>
            </em>
        </span>
    </p>
</div>
