<div class="my-5 text-center">
    <a href={{path("app_contact_index")}} class="fs-1 text-warning-700">
        <span>
            {% trans %}Contactez-nous!{% endtrans %}
        </span>
    </a>
</div>
