<div class="my-5">
    {% block title %}
        <h4 class="my-3 display-5 fw-bold">{{title | trans}}</h4>
        <p class="mx-auto fs-2">{{content | trans | raw}}</p>
    {% endblock %}
    <figure class="p-3" data-aos="fade-down" data-aos-duration="1000">
        <a href={% block src %} {{ path(href) }} {% endblock %} {% block target %} {% endblock %} class="hover10">
            <img src={{asset('images/' ~ img) | imagine_filter('circle')}} alt={{alt | trans}} class="shadow rounded-circle bg-success border border-5 border-light">
            <figcaption class="position-absolute top-50 text-success-800 d-none" style="width:7em; height:3em; left:calc(100%/2 - 3.5em)"></figcaption>
        </a>
    </figure>
    <a href={{ path(href) }} class="btn btn-warning fs-3 p-3 rounded rounded-pill text-light">{% trans %}Cliquez ici{% endtrans %}</a>
</div>
