<a href={{ path(path) }}>
    <figure class="c4-izmir c4-border-center">
        <img src={{asset('images/aging.jpg') | imagine_filter(filter)}} alt={{alt}} class="img-fluid p-1 rounded">
        <figcaption>
            <h3 class="text-light fs-1 fw-bold">{{content}}</h3>
        </figcaption>
    </figure>
</a>
