<div class="card shadow" style="width: 18rem;" data-aos="fade-up" data-aos-duration="1000">
    <a href={{ path('app_product_show', {'id': product.id}) }} class="text-decoration-none text-dark">
        <picture>
            <img class="img-fluid" src={{ asset("images/products/" ~ product.image) | imagine_filter('product') }} alt="Card image cap">
        </picture>
        <div class="card-body d-flex flex-column justify-content-end">
            <h2 class="card-text fs-2">{{product.name | trans}}</h2>
            <p class="card-text">{{product.subtitle | trans}}</p>
            <p class="card-text text-center text-light bg-success-800 rounded-pill ">{{product.price }}
                CFA</p>
            <span class="fs-5">
                {% for item in product.category %}
                    {{item | trans}}
                {% endfor %}
            </span>
        </a>
    </div>
</div>
