<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta description="Site d'échange d'informations sur la prise en charge des personnes âgées en Afrique">
        <meta name="google-site-verification" content="Bd7-xzR3sr4uMx4zYWq-NdCch8gk6zmV238wv7VxByM" />
        <title>
            {% block title %}
                {% trans %}Bienvenue sur maisonPhilo!{% endtrans %}
            {% endblock %}
        </title>
        <link rel="icon" href={{ asset('svg/logo.svg') }}>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('notyf') }}

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('notyf') }}

        {% endblock %}

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push( [ 'trackPageView' ] );
            _paq.push( [ 'enableLinkTracking' ] );
            ( function ()
            {

                var u = "https://maisonphilo.matomo.cloud/";
                _paq.push( [
                    'setTrackerUrl',
                    u + 'matomo.php'
                ] );
                _paq.push( [ 'setSiteId', '1' ] );
                var d = document,
                    g = d.createElement( 'script' ),
                    s = d.getElementsByTagName( 'script' )[ 0 ];
                g.async = true;
                g.src = '//cdn.matomo.cloud/maisonphilo.matomo.cloud/matomo.js';
                s.parentNode.insertBefore( g, s );

            } )();
        </script>
        <!-- End Matomo Code -->

    </head>
    <body class="container-fluid gx-0 d-flex flex-column align-content-center" style="min-height:100vh">

        {% block navigation %}
            {% include "components/atoms/floatButton.html.twig" %}
        {% endblock %}

        {% block login %}
            {% include "components/buttons/speedDial.html.twig" %}
        {% endblock %}

        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include "components/organisms/footer.html.twig" %}
        {% endblock %}
        {% include "components/bundle/notyf.html.twig" %}
    </body>
</html>
