<section id="footer" class="text-light text-center opacity-75 d-flex flex-column justify-content-center container-fluid">
    <div class="">

        <div class="row align-items-center py-3 container-fluid">
            <p class="text-center fw-bold text-footer">
                &copy
                {% trans %}Maison Philo{% endtrans %}
            </p>
            <div class="col-lg">
                <a href={{path ('app_about_history')}} class="text-light text-decoration-none">
                    <span>
                        {% trans %}A propos de nous{% endtrans %}
                    </span>
                </a>
            </div>
            <div class="col-lg">
                <a href={{path ('app_general_terms')}} class="text-light text-decoration-none">
                    <span>
                        {% trans %}Mentions légales{% endtrans %}
                    </span>
                </a>
            </div>

            <div class="col-lg">
                <a href={{path ('app_general_terms')}} class="text-light text-decoration-none">
                    <span>
                        {% trans %}Politique cookies{% endtrans %}
                    </span>
                </a>
            </div>
            <div class="col-lg">
                <a href={{path ('app_general_terms')}} class="text-light text-decoration-none">
                    <span>
                        {% trans %}Politique et protection de vie privée{% endtrans %}
                    </span>
                </a>
            </div>
        </div>
        <div class="">
            <div class="display-3">
                <a href="https://www.facebook.com/Maisonphilo95/?locale=fr_FR" target="_blank" class="text-decoration-none">
                    <i class="fa-brands fa-facebook-square text-white"></i>
                </a>
                <a href="https://www.linkedin.com/company/maison-philo/" target="_blank" class="text-decoration-none">
                    <i class="fa-brands fa-linkedin text-white"></i>
                </a>

            </div>
        </div>

    </div>
</section>
