 {% embed "components/organisms/fullPage.html.twig" %}
        {% block breadcrumb %}
            {% include "components/molecules/breadcrumb.html.twig"%}
        {% endblock %}
        {% block content %}
            {% embed "components/molecules/section.html.twig" %}
                {% block content %}
                    {% for country in countries %}
                        {% if country.isValid == true %}
                            {% include "components/atoms/btnOutlineShare.html.twig" with {
                            content: country.name | country_name,
                            id: country.id
                        } %}
                        {% endif %}
                        <div>
                           {% block assistance %}{% endblock %}
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}