<nav id="navbar-example2" class="navbar navbar-expand-lg navbar-dark sticky-top bg-success-800 opacity-75" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand hover10" href="{{path ('app_home_index')}}">
            <img src="{{ asset('images/logo_1.png') | imagine_filter("logo") }}" alt="maisonphilo" class="bg-light rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-monospace" id="navbarCollapse">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0 text-uppercase fw-bold">
                <li class="nav-item">
                    <a class="nav-link px-3 about" aria-current="page" href={{path ('app_about_history')}}>Qui sommes nous?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 about" aria-current="page" href={{path ('app_about_africa')}}>Le vieillissement</a>
                </li>
                <li class="nav-tem">
                    <a class="nav-link px-3 services" aria-current="page" href={{path ('app_assistance_share')}}>Accès informations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 commit" aria-current="page" href={{path ('app_contact_index')}}>Contact</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
