{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h4>Page not found</h4>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('/') }}">return to the homepage</a>.
    </p>
{% endblock %}